{% load static %}
<!doctype html>
<html>
    <head>
        {% block head_content %}
        {% endblock head_content %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/base_styles.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
            {% include "partials/navbar.html" %}
        {% endif %}
        <main {% if user.is_authenticated %}class="mt-12"{% endif %}>
            {% block main_content %}
            {% endblock main_content %}
        </main>
    </body>
</html>
