{% load static %}
<nav class="fixed w-full bg-primary-500 h-12 top-0 flex flex-inline gap-x-2 my-auto pl-4">
    <img class="h-8 my-auto mr-4" height="5" view src="{% static 'icon.webp' %}">
    <button class="my-auto text-primary-100 hover:bg-primary-200 hover:text-primary-700 py-1 px-3 rounded hover:cursor-pointer">
        Homepage
    </button>
    <button class="my-auto text-primary-100 hover:bg-primary-200 hover:text-primary-700 py-1 px-3 rounded hover:cursor-pointer">
        Dashboards
    </button>
    <button class="my-auto text-primary-100 hover:bg-primary-200 hover:text-primary-700 py-1 px-3 rounded hover:cursor-pointer">
        Profile
    </button>
    <button>

    </button>
    <button class="ml-auto mr-2 my-auto text-primary-100 hover:bg-primary-200 hover:text-primary-700 py-1 px-3 rounded hover:cursor-pointer">Logout</button>
</nav>